# === Project configuration === #
config.yml

# === Scripts === #
scr.sh

# === Build & distribution === #
build
dist
pydephasing.egg-info

# === logs and temporary files === #
*.log
*.png

# === TESTS and old versions === #
TESTS
clean_vers_files/TESTS
OLD_VERS
input_files

# === Examples === #
examples
EXAMPLES.tar.gz
TESTS_3.tar.gz
EXAMPLES

# === python cache & compiled files === #
__pycache__
utils/__pycache__/
*.pyc
pydeph
