numpy
cython
h5py
matplotlib
mpi4py
pymatgen
PyYAML
scipy
colorlog
mendeleev
scikit-learn
tqdm
gputil
gdown
tensorflow
pytest
pytest-mpi
phonopy
jarvis-tools
qiskit==0.45.1
qiskit-aer==0.13.3
pybind11
