numpy
cython
matplotlib
pymatgen
PyYAML
scipy
colorlog
mendeleev
scikit-learn
tqdm
gputil
gdown
pytest
pytest-mpi
phonopy
jarvis-tools
qiskit==0.45.1
qiskit-aer==0.13.3
pybind11

# MPI / HDF5 (special handling on HPC)
h5py
mpi4py

# CPU tensorflow
tensorflow
