numpy
cython
matplotlib
pymatgen
PyYAML
scipy
colorlog
mendeleev
scikit-learn
tqdm
gputil
gdown
phonopy
pytest
pytest-mpi
jarvis-tools
qiskit==0.45.1
qiskit-aer==0.13.3
pybind11
tensorflow
mpi4py
petsc4py
h5py
pycuda
